*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: LexendDexa;
}

@font-face {
    font-family: LexendDexa;
    src: url('/fonts/LexendDeca-Regular.ttf');
}

body{
    background-color: #F3F5F7;
    overflow-x: hidden;
}

.section-header{

    width: 100vw;
    height: 29.5vh;
    background-image: linear-gradient(to right,#574AE8, #3EA1DB);

}

.section-text{

    display: grid;
    grid-template-columns: 2;
    grid-auto-flow: column;
    width: 99vw;
    color: #fff;
    padding-top:5vh;
    place-items: center;
    font-size: 1.7rem;
}

.transparent-input-type-search{

    width: 55vw;
    height: 8vh;
    opacity: 0.2;
    margin-top: 9vh;
    display: grid;
    position: absolute;
    left:13vw;
    transform: translate(20vh);
    border: none;
    border-radius:0.2vw;
}

.search-icon{
    transform: translate(24vw,11vh);
}

.text-input{
    color: #fff;
    position: absolute;
    left: 28vw;
    top: 19.5vh;
    opacity: 0.3;
    font-size: 1.5rem;
}

.main-section{

    display: grid;
    grid-template-rows: 4;
    place-items: center;
    gap: 4vh 0;
    margin-top: 10vh;
}

.section-main-section{

    width: 50vw;
    height: 30vh;
    background-color: #fff;
    border-radius: 0.1vw;
    padding: 1.7vw;

}

.main-div-section{

    display: grid;
    grid-template-columns: 2;
    justify-content: space-between;
    grid-auto-flow: column;
}

.main-div-section-title{
    color: #b6b6b6;
    font-size: 1.1rem;
}

.section-main-section-title{
    font-size: 1.6rem;
    padding-top: 1.5vh;
    color: #313131;
}

.section-main-section-description{
    font-size: 1.2rem;
    color: #b6b6b6;
    padding-top: 1vh;
    line-height: 3.5vh;
}

.section-1{
    height: 23vh;
}

.section-3{
    height: 19vh;
}

@media screen and (max-width: 375px){

    .section-text{

        display: grid;
        justify-content: space-between;
        font-size: 1.5rem;
        padding: 5vw;
    }
    

    .transparent-input-type-search{
        width: 88vw;
        height: 4.5vh;
        position: absolute;
        left: -38vw;
    }


.search-icon{
    transform: translate(8vw,10.5vh);
    width: 4vw;
}

.text-input{
    color: #fff;
    position: absolute;
    left: 16vw;
    top: 17vh;
    opacity: 0.3;
    font-size: 1.3rem;
}

.main-section{

    display: grid;
    grid-template-rows: 4;
    place-items: center;
    gap: 4vh 0;
    margin-top: 10vh;
}

.section-main-section{

    width: 88vw;
    height: 30vh;
    background-color: #fff;
    border-radius: 0.1vw;
    padding: 4vw;

}

.main-div-section-title{
    color: #b6b6b6;
    font-size: 0.9rem;
}

.heart-icon{

    width: 4vw;

}
.section-main-section-title{
    font-size: 1.4rem;
    padding-top: 1.5vh;
    color: #313131;
}

.section-main-section-description{
    font-size: 1rem;
    color: #b6b6b6;
    padding-top: 1vh;
    line-height: 2.5vh;
}

 
}    