*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: LexendDexa;
}

@font-face {
    font-family: LexendDexa;
    src: url('/fonts/LexendDeca-Regular.ttf');
}

body{
    background-color: #F3F5F7;
    overflow-x: hidden;
}

.section-header{
    width: 100vw;
    height: 29.5vh;
    background-image: linear-gradient(to right,#574AE8, #3EA1DB);
}

.section-text{

    display: grid;
    grid-template-columns: repeat(1fr,2);
    grid-auto-flow: column;
    gap: 0 1vh;
    width: 99vw;
    color: #fff;
    padding-top:5vh;
    place-items: center;
    font-size: 1.7rem;
    position: absolute;
}

.input-search-div{
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
    justify-content:center;
    width: 100vw;
    position: absolute;
    top: 16.5vh;
}

.transparent-input-type-search{

    width: 55vw;
    height:7.1vh;
    opacity: 0.2;
    display: grid;
    border: none;
    border-radius:0.2vw;

}

.input-search-div-text-icon{
    display: grid;
    grid-template-columns:repeat(1fr, 2);
    grid-auto-flow: column;
    justify-content: left;
    gap: 0 1vh;
    position: absolute;
    top: 2vh;
    left: 24vw;
    width: 55vw;
    min-width: 20vw;
}

.search-icon{
    /*transform: translate(-25.5vw,-5vh);*/
    width: 1.3vw;
    
}

.text-input{
    color: #fff;
    position: absolute;
    left: 2vw;
    opacity: 0.3;
    font-size: 1.4rem;
    
}

.main-section{

    display: grid;
    grid-template-rows: 4;
    place-items: center;
    gap: 4vh 0;
    margin-top: 10vh;
}

.section-main-section{

    width: 55vw;
    height: 30vh;
    background-color: #fff;
    border-radius: 0.1vw;
    padding: 1.7vw;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
}

.main-div-section{

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-auto-flow: column;
    width: 100vw;
    
}

.main-div-section-title{
    color: #b6b6b6;
    font-size: 1.1rem;
}

.section-main-section-title{
    font-size: 1.6rem;
    padding-top: 1.5vh;
    color: #313131;
}

.section-main-section-description{
    font-size: 1.2rem;
    color: #b6b6b6;
    padding-top: 1vh;
    line-height: 3.5vh;
}

.section-1{
    height: 22vh;
}

.section-2{
    height: 26vh;
}

.section-3{
    height: 19vh;
}

.section-4{

    height: 24vh;
}

/****************************************** 1025px-1200px*********************************************************************************/

@media screen and (max-width: 1024px) {
    
    .heart-icon{
        width: 3vw;
    }

}


@media screen and (max-width: 750px) {
   
    .search-icon{
        /*transform: translate(-25.5vw,6vh);*/
        width: 2vw;
    }
    .transparent-input-type-search{

        width: 58vw;
        height:5.5vh;
    }

    .input-search-div-text-icon{
        position: absolute;
        top: 1.3vh;
        left: 23vw;
    }

    .text-input{
        color: #fff;
        position: absolute;
        left: 3vw;
        opacity: 0.3;
        font-size: 1.3rem;
        
    }

    .section-main-section{

        width: 58vw;
    }

    .heart-icon{
        width: 2.5vw;
    }

    .section-2{
        height: 32.5vh;
    }

    .section-3{
        height: 22vh;
    }

    .section-4{

        height: 32vh;
    }

    .section-main-section-title{
        font-size: 1.5rem;
        padding-top: 1.5vh;
        color: #313131;
    }

    .section-main-section-description{
        font-size: 1rem;
        color: #b6b6b6;
        padding-top: 1vh;
        line-height: 3vh;
    }

}



@media screen and (max-width: 600px) {
   
    .search-icon{
        /*transform: translate(-25.5vw,6vh);*/
        width: 2vw;
    }
    .transparent-input-type-search{

        width: 58vw;
        height:6vh;
    }

    .input-search-div-text-icon{
        position: absolute;
        top: 1.5vh;
        left: 23vw;
    }

    .text-input{
        position: absolute;
        left: 4vw;   
    }

    .section-main-section{

        width: 58vw;
    }

    .heart-icon{
        width: 2.5vw;
    }

    .section-1{
        height: 18vh;
    }

    .section-2{
        height: 28vh;
    }

    .section-3{
        height: 19vh;
    }

    .section-4{

        height: 27.5vh;
    }

    .section-main-section-title{
        font-size: 1.46rem;
        text-align: justify;
    }

    .section-main-section-description{
        line-height: 2.5vh;
        text-align: justify;
        
    }

}


@media screen and (max-width: 600px) {
   
   
    .section-1{
        height: 23vh;
    }

    .section-2{
        height: 30.5vh;
    }

    .section-3{
        height: 19vh;
    }

    .section-4{

        height: 29.5vh;
    }


}
